#ext_menu-4v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4v.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-4v .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-4v .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-4u H1 {
  color: #000000;
}
